@page
@model justdoit_fixer.Pages.Index

@{
}

<div>
    <span>
        Try <a href="https://devdojo.com/pines/docs/accordion">Pines </a> examples here.
    </span>
    <ul>
        <a href="Examples/PinesAccordion">
            <button class="btn btn-primary">
                Accordion
            </button>
        </a>
        <a href="Examples/PinesToast">
            <button class="btn btn-primary">
                Toast
            </button>
        </a>
    </ul>
</div>