@page
@model justdoit_fixer.Pages.Index

@{
}

<div>
    <h1 class="text-xl text-primary">
        The purpose of this page is to see which animations will work from
        <a href="https://devdojo.com/pines/docs/accordion">Pines AlpineJS snippet library</a>
    </h1>

    <ul>
        <a href="Examples/PinesAccordion">
            <button class="btn btn-primary">
                Accordion
            </button>
        </a>
        <a href="Examples/PinesToast">
            <button class="btn btn-primary">
                Toast
            </button>
        </a>
        <a href="Examples/PinesAnimatedText">
            <button class="btn btn-primary">
                Animated text
            </button>
        </a>
    </ul>
</div>