@page
@model justdoit_fixer.Pages.Todos.Index

@{
    string search_term = "moopsy hungers....";
}

<div>
    <h1>Todos (deployment fix)</h1>

    <button class="btn btn-danger"
            hx-post=""
            name="input"
            value="DELETE"
            confirm-with-sweet-alert='true'>
        <box-icon class="text-accent" name='trash' type='solid'></box-icon>
        Delete Important Stuff
    </button>


    <div
        hx-get
        hx-trigger="load"
        hx-indicator="#table_loader"
        hx-page="Index"
        hx-page-handler="AllTodos">
        <span
            id="table_loader"
            class="hx-indicator">
            loading...
            <img class="w-8" src="~/img/loaders/my_awesome_spinner.svg" alt="">
        </span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur cumque dolore enim error fugit illo, impedit laboriosam, molestiae nulla numquam optio perspiciatis quam rem repellat repellendus sit ut veniam.</p>
    </div>

    <template x-if="false" x-cloak>

        <button
            class="btn btn-primary"
            hx-get
            hx-page="Index"
            hx-page-handler="Stuff"
            hx-trigger="click">
            Swap
        </button>

        <div x-data="{ open: false }">
            <button class="btn btn-secondary" @@click="open = true">Expand</button>

            <span x-show="open">
                Content...
            </span>
        </div>

    </template>

    @* <partial name="_TimeMetrics"></partial> *@

    @* <partial name="_ToastSample"></partial> *@
</div>