@model justdoit_fixer.Pages.Components.HydroSweetAlert

<button class="btn btn-danger"
        hx-post=""
        name="input"
        value="DELETE"
        confirm-with-sweet-alert='true'>
    Delete Important Stuff
</button>